# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
src/test.go
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/src/github.com/swaggo/swag/
/src/github.com/swaggo/
/src/gopkg.in/
/src/github.com/
/src/anrlr4_ast/
